<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MRinside - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MRinside</a>
        </div>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/user/logout/">
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-log-out" id="logIcon"></span>
                    </a>
                </li>
              </ul>
            </ul>
            {% endif %}
    </nav>
    <div class="col-md-4">
    <form class="form-group">
        <div class="form-group">
            <label for="List_vr">Lister tous les modules VR.</label>
             <form action="{% url 'user:list_vr' %}" method="post">
                 {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <div class="form-group">
            <label for="List_all">Lister tous les modules.</label>
             <form action="{% url 'user:list_all' %}" method="post">
                 {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <div class="form-group">
            <label for="List_ar">Lister tous les modules AR.</label>
             <form action="{% url 'user:list_ar' %}" method="post">
                 {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <div class="form-group">
            <label for="List_off">Lister tous les modules offline.</label>
             <form action="{% url 'user:list_off' %}" method="post">
                 {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <div class="form-group">
            <label for="List_on">Lister tous les modules online.</label>
             <form action="{% url 'user:list_on' %}" method="post">
                 {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <div class="form-group">
            <label for="List_id">Lister tous les modules ID.</label>
             <form action="{% url 'user:list_id' %}" method="post">
                 {% csrf_token %}
                 <input type="text" class="form-control" id="module_id" placeholder="Module ID">
                 <input class="btn btn-default" type="submit" value="Lister">
             </form>
        </div>
        <!--
        <div class="form-group">
            <label for="Launch_module">Lancer le module ID.</label>
             <form action="{% url 'user:launch_mod' %}" method="post">
                 {% csrf_token %}
                 <input type="text" class="form-control" id="module_id" placeholder="Module ID">
                 <input class="btn btn-default" type="submit" value="Lancer">
             </form>
        </div>-->
    </form>
    </div>
</body>
</html>