<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogsOverview</title>
</head>
<body>
    {% for log in logs %}
        <div>
            {{ log.value }}
            </br>
            {{ log.provenance }}
            </br>
            {{ log.iserror }}
        </div>
    {% endfor %}

</body>
</html>